$green: #349A89;
html{
    position: relative;
    min-height: 100%;
}
body{
    background: #F2F2F2;
    font-family: Helvetica, sans-serif;
    margin: 0 0 73px;
}
a{
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2B2B2B;
    text-decoration: none;
}

// COMMON
.container {
    margin: 0 auto;
    max-width: 1184px;
}
.container-small {
    margin: 0 auto;
    max-width: 855px;
}
.btn{
    border-radius: 4px;
    width: 131px;
    display: inline-block;
    font-size: 14px;
    line-height: 31px;
    /* identical to box height, or 221% */
    border:none;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-green{
    background: $green;
    color:white;
}
.btn-lg{
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.4px;
    padding-top:19px;
    padding-bottom:21px;
}
.navbar-nav{
    text-align: center;
    ul{
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li{
            &:first-child{
                margin-left: 0;
            }
            margin-left: 33px;
            font-weight: 300;
        }
    }
}
.header-container{
    padding: 26px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    background: #FFFFFF;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    display: block;
}
.card__title{
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    margin: 0 0 32px;
    color: #282828;
}
.eye-icon{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 14px;
    width: 23px;
    display: block;
    background-image: url(../eye.svg);
}
.form-group{
    margin-bottom: 15px;
    label{
        font-size: 12px;
        margin-bottom: 4px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.3px;
        text-transform: uppercase;

        color: #303030;
        display: block;
    }
    input,textarea, .form-control{
        background: #F9FAFB;
        border: 1px solid #DEDEE0;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: 300;
        width: 100%;
        height: 58px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.4px;
        padding: 19px 45px 21px 13px;
    }
    .input-group{
        position:relative;
        .input-btn{
            position: absolute;
            top:0;
            right:23px;
            display: flex;
            align-items: center;
            height: 58px;
        }
        small{
            text-align: right;
            font-size: 14px;
            line-height: 16px;
            /* identical to box height */
            display: block;
            letter-spacing: 0.4px;
            margin-top:5px;

            color: #8C8C8C;

        }
    }
}
.text-green{
    color:$green;
}
.text-center{
    text-align: center !important;
}
.inline-block{
    display: inline-block;
}
.mb-0{
    margin-bottom: 0;
}
.position-relative{
    position:relative;
}
.show{
    display: block;
}
.mobile-menu{
    overflow:hidden;
    display: none;
    padding: 10px;
    z-index: 9;
    ul{
        justify-content: center;
    }
}


